h1 {
	font-size: 2em;
	color: tomato;
	margin: 0 auto;
	text-align: center;
	padding: 15px 0;
}
h2 {
	@extend h1;
	font-size: 1.5em;
	color: royalblue;
	font-style: italic;
}
p {
	margin: 0;
}
.verse, .chorus {
	@extend h1;
	font-size: 1em;
	padding: 10px 0;
	color: black;
}
.test {
	h1 {
		display: flex;
	}
}